html, body {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    background-color: slategray;
}

.site-wrapper {
    height: 100%;
    width: 100%;
}

.app-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.ui {
    position: fixed;
    top: 800px;
    left: 50px;
    width: 400px;
    height: 200px;
}

.ui-button {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.ui-button img {
    width: 100%;
    height: 100%;
}

.track-canvas {
    position: relative;
    margin: 50px;
    background-color: grey;
}