html, body {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    background-color: rgb(173, 202, 230);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.site-wrapper {
    width: 100%;
    height: 100%;
}

#trackInsertPoint {
    height: 200px;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 500px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(37, 36, 36, 0.829);
    z-index: 100;
    box-sizing: border-box;
    color: white;
}

.site-footer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgba(37, 36, 36, 0.9);
    padding: 7px 10px 7px 10px;
}

.site-footer #site-title {
    font-weight: 400;
}

.site-footer a {
    text-decoration: none;
    color: white;
    font-style: italic;
    transition: .3s;
}

.site-footer a:hover {
    color: rgb(219, 119, 119);
}

.interface-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 1em;
    padding: 1em;
}

.ui .controls {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    justify-content: space-between;
    align-items: center;
}

.ui .sliders {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    height: 50%;
    gap: 10px;
    justify-content: space-between;
}

.controls .ui-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: none;
    background-color: rgb(116, 116, 175);
    cursor: pointer;
    transition: .2s;
    border-radius: 100px;
    padding: 0px;
}

.ui-button:hover {
    background-color: rgb(104, 104, 141);
}

.ui-button:active {
    background-color: rgb(74, 74, 90);
}

.ui-button img {
    display: block;
    width: 40%;
}

#addTrack img {
    width: 46%;
}

#playSong img {
    position: relative;
    left: 6%;
}

.controls-slider-block .slider-group {
    padding: 5px 0px 5px 0px;
}

/* Custom Slider Input*/
.slider-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.slider-group img {
    position: relative;
    top: 0px;
    width: 20px;
    height: 18px;
}

.range-slider {
    -webkit-appearance: none;
    width: 50px;
    height: 20px;
    margin: 0px;
    flex-grow: 1;
    background-color: rgb(126, 126, 126);
    margin: 0px 7px 0px 7px;
    transition: .2s;
}

.range-slider:hover {
    background-color: rgb(105, 105, 105);
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(131, 89, 89);
    transition: .2s;
    cursor: pointer;
}

.range-slider::-webkit-slider-thumb:hover {
    background-color: rgb(207, 132, 46);
}

.slider-group .slider-display {
    width: 20px;
    color: white;
    padding-bottom: 3px;
}

.slider-group .slider-display p {
    margin: 0px;
    font-size: 1em;
    text-align: left;
}

/* Track Styling */
.track-container {
    position: relative;
    padding: 20px;
    width: fit-content;
    animation-name: fade-in-down;
    animation-duration: .4s;
}

@keyframes fade-in-down {
    from {
        top: -18px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.track-fixed-header {
    position: relative;
    width: 100%;
    color: darkslategrey;
    font-size: 16pt;
    font-weight: 500;
    z-index: 1;
    padding: 10px;
}

.track-fixed-header .sticky-container {
    position: sticky;
    left: 30px;
    width: 100%;
    max-width: 95vw;
}

.track-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 5px 20px;
}

.track-label {
    display: inline-flex;
    height: 40px;
    align-items: center;
}

.track-label-break {
    padding: 0px 5px 0px 5px;
}

.track-label-instr {
    padding-left: 5px;
}

.track-volume {
    width: 180px;
    height: 40px;
    margin-right: 30px;
}

.track-options {
    position: relative;
    margin-right: 140px;
    left: -20px;
}

.track-options-dropdown-button.selected {
    background-color: rgba(43, 43, 43, 0.925);
    color: white;
    transition: .3s;
}

.track-options-dropdown-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}

.track-options-dropdown-button label {
    height: 40px;
    display: flex;
    align-items: center;
}

.checkbox-dropdown {
    position: relative;
    top: 3px;
    width: 20px;
    height: 14px;
    margin-left: 7px;
}

.checkbox-dropdown input {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    margin: 0px;
    background-color: none;
    cursor: pointer;
}

.checkbox-dropdown img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    margin: 0px;
    pointer-events: none;
    transition: .3s;
}

.checkbox-dropdown input:checked + img {
    transform: translateY(-2px) rotate(180deg);
}

.track-options-dropdown {
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    top: 39.5px;
    left: 0px;
    background-color: rgba(43, 43, 43, 0.925);
    color: white;
    font-size: 16px;
    pointer-events: none;
}

.track-options-dropdown.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .3s;
}

.track-options-dropdown .dropdown-row {
    height: 40px;
    padding: 5px;
}

.track-options-dropdown .dropdown-row .input-pair {
    height: 100%;
}

.track-options-dropdown label {
    display: flex;
    white-space: nowrap;
    width: 100px;
    align-items: center;
    justify-content: flex-start;
}

.track-options-dropdown input[type="text"] {
    width: 100px;
    height: 10px;
    padding: 6px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.track-options-dropdown select {
    width: 112px;
    height: 22px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

/* Track Reverb custom slider */
.track-reverb .reverb-switch {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.track-reverb .checkbox-slider {
    position: relative;
    width: 40px;
    height: 22px;
}

.track-reverb .checkbox-slider-body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: .4s;
    pointer-events: none;
}

.track-reverb .checkbox-slider-thumb {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 18px;
    height: 18px;
    background-color: rgb(104, 62, 219);
    transition: .4s;
    pointer-events: none;
}

.reverb-switch:checked + .checkbox-slider-body {
    background-color: rgb(179, 152, 255);
}

.reverb-switch:checked + .checkbox-slider-body + .checkbox-slider-thumb {
    transform: translateX(18px);
}

/* Save, Cancel buttons at bottom of dropdown menu */
.track-options-bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0px 5px 0px;
}

.track-options-bottom-buttons div {
    padding: 5px;
}

.track-options-bottom-buttons button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    transition: .2s;
    cursor: pointer;
    font-family: inherit;
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.track-options-save button {
    background-color: rgb(104, 62, 219);
}

.track-options-save button:hover {
    background-color: rgb(89, 51, 161);
}

.track-options-save button:active {
    background-color: rgb(74, 44, 158);
}

.track-options-cancel button {
    background-color: rgb(122, 122, 122);
}

.track-options-cancel button:hover {
    background-color: rgb(97, 97, 97);
}

.track-options-cancel button:active {
    background-color: rgb(78, 78, 78);
}

/* Grid canvas styles */
.canvas-container {
    position: relative;
    width: fit-content;
    background-color: rgba(40, 40, 40, 0.8);
    padding: 5px;
    margin-right: 20px;
    z-index: 0;
    filter: drop-shadow(0px 0px 15px rgba(55, 90, 119, 0.5));
    border-radius: 4px;
}

.track-canvas {
    display: block;
    position: relative;
}

/* General input styling for menus and forms */
.input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}